.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%vh;
  color: rgb(171, 25, 25);
}

.navbar {
  height: 150px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
}

.main {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;

}